.gitignore
*~
*.aux
.DS_Store
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.log
*.fls
*.run.xml
/report/report.pdf
/report/auto
pyapi/**
pydocker/**
pystack/**
pyplots/**

testbench/__pycache__/

notes

testbench/#plot\.py#

\#mathsat\.data#

\.#notes
